<!--Konten halaman About-->

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>Aplikasi ini berfungsi untuk mencari berita dengan mudah.</p>
<ol>
    <li>Masukkan kata kunci</li>
    <li>Pilih algoritma yang ingin digunakan</li>
    <li>Nikmati hasilnya</li>
</ol>
