<!--Konten halaman Author-->

@{
    ViewData["Title"] = "Author";
}
<h2>@ViewData["Title"]</h2>

<address>
    <ul>
        <li>M. Rizki Duwinanto</li>
        <li>Jehian Norman Saviero</li>
        <li>Arno Alexander</li>
    </ul>
</address>