<!--Konten homepage-->

@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<br />
<img src="~/images/Logo.png" class="img-responsive center-block"/>
<br />
<br />
<br />
<form asp-controller="Home" asp-action="Result" method="post">
    <div class="form-group-lg">
        <input class="form-control-static" type="text" name="keyword" placeholder="Keyword" />
    </div>
    <br />
    <div class="btn-group-lg">
        <label class="radio-inline">
            <input id="radio" class="radio-inline" type="radio" name="algorithm" value="Regex" checked />Regex
        </label>
        <label class="radio-inline">
            <input class="radio" type="radio" name="algorithm" value="Boyer-Moore" />Boyer-Moore
        </label>
        <label class="radio-inline">
            <input class="radio" type="radio" name="algorithm" value="KMP" />KMP
        </label>
        <br />
    </div>
    <br />
    <div class="btn-group-lg">
        <button class="btn" type="submit">Search</button>
    </div>
</form>