<!--Konten hasil-->

@{
    ViewData["Title"] = "Result";
}
<h2>@ViewData["Title"]</h2>

<p>Ini hasil pencarian dengan keyword = <strong>@ViewData["Keyword"]</strong> dan algoritma = 
    <strong>@ViewData["Algorithm"]</strong>. Belum ada hehe</p>